<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">

<f:if condition="{videodetails}">
  <div class="element element-gap-normal block-section centered-container clearfix">
             <div class="container container-width-default clearfix">
                <div class="video-content-element lg-grid-varient clearfix">
                    
                    <div class="row clearfix">

                        <!-- col -->
                        <div class="col-md-12 my-col">
                            <div class="main-wrap clearfix">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{videodetails.videoid}?rel=0" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>
                        <!-- col -->

                         <!-- col -->
                        <div class="col-md-12 my-col">
                            <div class="main-wrap clearfix">
                                <div class="entry clearfix">
                                    <h5>{videodetails.title}</h5>
                                    <p><f:format.html>{videodetails.description}</f:format.html></p>
                                </div>
                            </div>    
                        </div>
                        <!-- col -->


                    </div>

                </div>
             </div>  
            </div>
    </f:if>

	  <div class="element element-gap-normal block-section centered-container clearfix">
             <div class="container container-width-default clearfix">
                <div class="video-content-element lg-grid-varient clearfix"> 
                    <div class="row equal-row clearfix">
                             <f:for each="{video}" key="key" as="videos">
                                <div class="col-md-4 equal-block my-col">
                                       <div class="item">
                                     <f:link.action action="allvideo" arguments="{uid:videos.uid}"target="_blank">
                                     <div class="item-img"><f:image  src="uploads/netz_mtm/youtube/{videos.image}"  /></div>
                                      <div class="item-title">{videos.title}</div>
                                     </f:link.action>
                                   </div>
                       			</div>
                       	    </f:for>
            		</div>
                </div>
             </div>  
            </div>

   </f:section>
</html>